<!DOCTYPE html>
<html xml:lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/resources/js/scripts.js}"></script>
    <h4 layout:fragment="content-header" th:text="${formTitle}"></h4>

</head>
<body>
<th:block layout:fragment="content">

    <table id='table' th:attr="data-url=${searchUrl}">
        <thead>
        <tr>
            <th class="col-md-1" data-column-name='action' style="width:80px;">Action</th>
            <th class="col-md-3" data-column-name='year' sortable="true">Year</th>
            <th class="col-md-2" data-column-name='dateFrom'>Start Date</th>
            <th class="col-md-2" data-column-name='dateTo'>End Date</th>
            <th class="col-md-2" data-column-name='yr'>YR Day</th>
            <th class="col-md-2" data-column-name='cl'>CL Day</th>
            <th class="col-md-2" data-column-name='remarks'>Remarks</th>
        </tr>
        </thead>
    </table>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        const table = new DataTable('#table', {
            omniPlaceholder: "Year",
            sortColumn: "year",
            events: {
                createNew: (e, rowData) => {
                    window.location = /*[[${entryUrl}]]*/ '/yr-cl-entry'
                }
            },
            buttonSection: [
                {
                    name: 'createNew',
                    label: 'Create New',
                    classes: 'bi-plus btn btn-primary'
                }
            ],
            formatter: {
                action: (el, column, rowData) => {
                    const editUrl = /*[[${editUrl}]]*/ '/yr-cl-update'
                    el.innerHTML = `<a href="${editUrl}?id=${rowData.id}"
                    id="editButton" class="btn btn-secondary btn-sm" type="button">Open</a>`
                }
            }
        })
    </script>
</th:block>

</body>
</html>